export GAZEBO_MODEL_PATH=$(pwd)/environments/Gazebo/environment/models
export GAZEBO_RESOURCE_PATH=$(pwd)/environments/Gazebo/environment
export PYTHONIOENCODING=UTF-8
export PYTHONPATH=$PYTHONPATH:/usr/local/webots/lib/controller/python38
export WEBOTS_HOME=/usr/local/webots
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/webots/lib/controller:/usr/local/webots/lib/webots:$HOME/.mujoco/mujoco200/bin
